.error {
	color: red;
	font-style: italic;
	font-size: 13px;
	width: 100%;
}
.img-200 {
	margin: auto;
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: auto;
}

.img-dt {
	width: 200px;
	height: 200px;
}

.form-control-alternative {
	box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
	border: 0;
	transition: box-shadow .15s ease;
	height: calc(2.75rem + 2px);
	padding: 0.625rem 0.75rem;
}